<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owner</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        th {
            text-align: left;
        }
		beta2 {
    		position: absolute;
    		left: 70px;
    		top: 70px;
    		float: left;
    		font-size: 25px;
		}
		beta3 {
    		position: absolute;
    		left: 700px;
    		top: 70px;
    		float: left;
    		font-size: 25px;
		}

    </style>
</head>

<body>

	<p align="center"><font size="20" color="red">Owner</font></p>
	
	<p align="right"><font size="4">User name :<td th:text="${owner.userName}">User name</td></font></p>
	<p align="left"><font size="4">Account :<td th:text="${owner.account}">Account</td></font></p>
    <beta2>
	<br><br><br>
	<p align="left"><font size="6">Create new festival :<td></td></font></p>
	<p>
	<p align="left"><font size="4">Choose location/s :<td></td></font></p>
	<p>
    <table style="width:70%" align="left">
    <td>Name</td>
    <td>Select</td>
    <td>Select for update/delete</td>
    <tr th:each="loc : ${locationList}">
        <td th:text="${loc.name}">Name</td>
        <td>
        <form action="#" data-th-action="@{'/owners/' + ${owner.ID}}" method="post">
        	<input type="hidden" name="locid" th:value="${loc.ID}"/>
        	<button type="submit" name="selectlocationbtn" value="Select">Select</button>
        </form>
        </td>
        <td>
        <form action="#" data-th-action="@{'/owners/' + ${owner.ID}}" method="post">
        	<input type="hidden" name="locid1" th:value="${loc.ID}"/>
        	<button type="submit" name="selectlocationbtn1" value="Select">Select</button>
        </form>
        </td>
    </tr>
    </table>
    </p>
    <p>
	<form action="#" th:action="@{'/owners/' + ${owner.ID}}" th:object="${location}" method="post">
		<br><br><br><br>
	 	<p><font size="2">Location Name :<input type="text" th:field="${location.name}" placeholder="Name" /></font></p>
    	<input type="submit" name="insertlocbtn" value="Insert Location" />
    	<input type="submit" name="updatelocbtn" value="Update Location" />
    	<input type="submit" name="deletelocbtn" value="Delete Location" />
    	</p>
	</form>
	</p>
	<p align="left"><font size="4">Choose other owner/s :<td></td></font></p>
	<p>
    <table style="width:70%" align="left">
    <td>Name</td>
    <td>User Name</td>
    <td>Select</td>
    <tr th:each="owner1: ${otherOwners}">
        <td th:text="${owner1.name}">Name</td>
        <td th:text="${owner1.userName}">User Name</td>
        <td>
        <form action="#" data-th-action="@{'/owners/' + ${owner.ID}}" method="post">
        	<input type="hidden" name="ownerid" th:value="${owner1.ID}"/>
        	<button type="submit" name="selectownerbtn1" value="Select">Select</button>
        </form>
        </td>
    </tr>
    </table>
    </p>
    <br><br><br><br><br>
    <p align="left"><font size="4">Fill in festival informations :</font></p>
	<p>
	<form action="#" th:action="@{'/owners/' + ${owner.ID}}" th:object="${festDTO}" method="post">
	 	<p><font size="2">Festival Name :<input type="text" th:field="${festDTO.name}" placeholder="Name" /></font></p>
    	<p><font size="2">Festival Genre :<input type="text" th:field="${festDTO.genre}" placeholder="Genre" /></font></p>
		<p><font size="2">Festival Description :<textarea type="text" th:field="${festDTO.description}" placeholder="Description" /></font></p>
    	<p>
    	<input type="submit" name="insertfestbtn" value="Insert Festival" />
    	<input type="submit" name="updatefestbtn" value="Update Festival" />
    	<input type="submit" name="deletefestbtn" value="Delete Festival" />
    	</p>
	</form>
	</p>
	</beta2>
	
	<beta3>
	<br><br><br>
	<p align="left"><font size="6">Your festivals :<td></td></font></p>
	<p>
   <table style="width:100%" align="left">
    <td>Name</td>
    <td>Genre</td>
    <td>Description</td>
    <td>Select</td>
    <tr th:each="festival : ${festList}">
        <td th:text="${festival.name}">Name</td>
        <td th:text="${festival.genre}">Genre</td>
        <td th:text="${festival.description}">Description</td>
        <td>
        <form action="#" data-th-action="@{'/owners/' + ${owner.ID}}" method="post">
        	<input type="hidden" name="id" th:value="${festival.ID}"/>
        	<button type="submit" name="selectfestivalbtn" value="Select">Select</button>
        </form>
        </td>
    </tr>
    </table>
    </p>
    <form action="#" th:action="@{'/owners/' + ${owner.ID}}" th:object="${ticketDTO}" method="post">
    	<p><font size="2">Ticket Name :<input type="text" th:field="${ticketDTO.name}" placeholder="Name" /></font></p>
	 	<p><font size="2">Quantity :<input type="text" th:field="${ticketDTO.ID}" placeholder="Quantity" /></font></p>
    	<p><font size="2">Ticket Price :<input type="text" th:field="${ticketDTO.price}" placeholder="Price" /></font></p>
    	
    	<p><input type="submit" name="insertdailybtn" value="Insert Daily Tickets" /></p>
    	<p><input type="submit" name="insertgeneralbtn" value="Insert General Access Tickets" /></p>
    	<p><input type="submit" name="insertvipbtn" value="Insert VIP Tickets" /></p>
	</form>

</body>
</html>